In [6]:
import glob

data = glob.glob('tokyo/*')

In [7]:
import pandas as pd

tokyoSiryo = pd.DataFrame()
for idx in range(len(data)):
    if 'siryo' in data[idx]:
        df = pd.read_csv(data[idx], encoding='SHIFT_JIS')
        tokyoSiryo  = pd.concat([tokyoSiryo ,df])
tokyoSiryo = tokyoSiryo .drop(columns = 'Unnamed: 0')

In [8]:
tokyoSiryo .reset_index(drop=True, inplace=True)

In [9]:
tokyoSiryo .columns

Index(['Unnamed: 0.1', '15〜24歳(%)', '25〜34歳(%)', '35〜44歳(%)', '45〜54歳(%)',
       '55〜64歳(%)', '65歳以上(%)', '19年度', '20年度', '21年度',
       ...
       'ほぼない(%)', '全くない(%)', '年齢階層', '15〜24歳', '25〜34歳', '35〜44歳', '45〜54歳',
       '55〜64歳', '65歳以上', '年度(世帯数)'],
      dtype='object', length=104)

#### 이 데이터는 null값이 대부분이고, 치안과 관련 없는 데이터이므로 사용하지 않는다.

In [10]:
tokyoSiryo

,Unnamed: 0.1,15〜24歳(%),25〜34歳(%),35〜44歳(%),45〜54歳(%),55〜64歳(%),65歳以上(%),19年度,20年度,21年度,...,ほぼない(%),全くない(%),年齢階層,15〜24歳,25〜34歳,35〜44歳,45〜54歳,55〜64歳,65歳以上,年度(世帯数)
0,0.0,36.7,93.8,96.6,95.9,84.9,35.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,44.7,93.5,96.7,96.5,87.4,36.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,43.7,95.2,97.1,96.3,87.7,35.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,38.3,94.3,96.7,96.4,86.5,34.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,36.4,93.8,96.4,96.2,86.7,34.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.1,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.2,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN